.logo {
  font-size: 4em;
  font-family: none;
  font-weight: bold;
  margin-left: 10%;
  color: white;
  text-decoration: none;
}

.login-button {
  color: white;
  margin-right: 2em;
}

.avatar {
  margin-right: 4em;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 2em;
  }
}