.techtea_card {
  max-width: 100%;
  height: 20em;
  transition: transform 0.2s;
}

.card_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-weight: bold;
  padding: 0 1rem;
  font-size: x-large;
}

.card_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  padding: 0 1rem;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  opacity: var(--v-medium-emphasis-opacity);
}

.techtea_author_container {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .techtea_card {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 3em !important;
  }

  .card_title {
    font-size:medium;
    padding: 0;
  }

  .card_description {
    font-size: smaller;
    padding: 0;
  }
  
  .techtea_author {
    padding: 0;
  }

  .techtea_author_container {
    display: block;
  }
}
